<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看员工具体表现情况</title>
<!--    <link rel="stylesheet" href="css/picnic.min.css">-->
    <style type="text/css">
        body{
            background: url("img/tp.png") no-repeat center center fixed;
            /*兼容浏览器版本*/
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/date.format.js"></script>


    <script type="text/javascript" th:inline="javascript">
        $(function (){
            queryP()
            //给提交按钮添加单击事件
            $("#subBtn").click(function (){
                addPerformance()
            })
            //当在页面上弹起键盘时触发事件
            $(document).keyup(function (){
                setAttendance()
            })
        })

        //发送员工表现
        function addPerformance(){
            // 工号
            var eid=[[${param.eid}]]
            // 请假天数
            var leavecount=$("#leavecount").val()
            // 旷工天数
            var absenteeism=$("#absenteeism").val()
            // 全勤天数
            var fullAttendance=$("#fullAttendance").val()
            // 绩效分数
            var performanceScore=$("#performanceScore").val()
            // 实际出勤天数
            var attendance=$("#attendance").val()
            // 计件数
            var piecework=$("#piecework").val()
            //加班天数
            var overtimeday=$("#overtimeday").val()
            // 表单验证,判断参数是否全部由正整数组成
            var regExp=/^[1-9]*[1-9][0-9]*$/
            var flag=regExp.test(leavecount)&&regExp.test(absenteeism)&&regExp.test(fullAttendance)&&regExp.test(overtimeday)&&regExp.test(piecework)&&regExp.test(performanceScore)&&regExp.test(attendance)&&regExp.test(overtimeday)
            if (parseInt(leavecount)==0||parseInt(absenteeism)==0||parseInt(performanceScore)==0||parseInt(attendance)==0||parseInt(piecework)==0||parseInt(overtimeday)==0){
                flag=true
            }
            if (flag){
                // 如果计件数为空，绩效分数不为空则提交按绩效分数提交
                if(piecework.trim()==""&&performanceScore.trim()!=""){
                    //如果绩效分数不是由正整数组成则清空文本框并提示
                    if(regExp.test(performanceScore)||parseInt(performanceScore)==0){
                        $.ajax({
                            url:"addPerformance",
                            type:"post",
                            data:{
                                eid:eid,
                                leavecount:leavecount,
                                absenteeism:absenteeism,
                                fullAttendance:fullAttendance,
                                performanceScore:performanceScore,
                                attendance:attendance,
                                overtimeday:overtimeday
                            },
                            dataType:"json",
                            success:function (resp){
                                if (resp.code==1){
                                    window.location.href="showperformance?eid="+[[${param.eid}]]+"&name="+[[${param.name}]]
                                }else{
                                    alert(resp.message)
                                }
                            }
                        })
                    }else{
                        $("#performanceScore").val("")
                        alert("请输入正整数")
                    }
                }else if(piecework.trim()!=""&&performanceScore.trim()==""){ //提交计件数
                    //如果计件数不是由正整数组成则清空文本框并提示
                    if(regExp.test(piecework)||parseInt(piecework)==0){
                        $.ajax({
                            url:"addPerformance",
                            type:"post",
                            data:{
                                eid:eid,
                                leavecount:leavecount,
                                absenteeism:absenteeism,
                                fullAttendance:fullAttendance,
                                piecework:piecework,
                                attendance:attendance,
                                overtimeday:overtimeday
                            },
                            dataType:"json",
                            success:function (resp){
                                if (resp.code==1){
                                    window.location.href="showperformance?eid="+[[${param.eid}]]+"&name="+[[${param.name}]]
                                }else{
                                    alert(resp.message)
                                }
                            }
                        })
                    }else{
                        $("#piecework").val("")
                        alert("请输入正整数")
                    }
                }else{
                    $("#performanceScore").val("")
                    $("#piecework").val("")
                    alert("绩效分数和计件数不能同时填写")
                }
            }else {
                alert("请输入正整数")
            }

        }

        //设置实际出勤天数的值
        function setAttendance(){
            // 全勤天数
            var fullAttendance=$("#fullAttendance").val()
            // 请假天数
            var leavecount=$("#leavecount").val()
            // 旷工天数
            var absenteeism=$("#absenteeism").val()
            //判断各个天数是否输入
            if (fullAttendance.trim()!='' && leavecount.trim()!='' &&absenteeism.trim()!=''){
                var s=parseInt(fullAttendance)-parseInt(leavecount)-parseInt(absenteeism)
                // 如果值小于等于0都设置为0
                if(s<=0){
                    $("#attendance").val(0)
                }else{
                    $("#attendance").val(s)
                }
            }else {
                $("#attendance").val("")
            }
        }
        //加载员工具体表现情况记录
        function queryP(){
            // 工号
            var eid=[[${param.eid}]]
            $.ajax({
                url:"selectPerformance",
                type:"get",
                data:{
                    eid:eid[0]
                },
                dataType:"json",
                success:function (resp){
                    if (resp!=null){
                        $("#performanceTb").empty()
                        $("#performanceTb").append("<thead><td>录入表现时间</td><td>绩效分数</td><td>计件数</td><td>加班天数</td><td>请假天数</td><td>旷工天数</td><td>实际出勤天数</td><td>全勤天数</td><td>操作</td></thead>")
                        var ti=new Date(resp.recordTime)
                        $("#performanceTb").append("<tr><td>"+ti.format('Y-m-d H:i:s')+"</td><td>"+resp.performanceScore+"</td><td>"+resp.piecework+"</td><td>"+resp.overtimeday+"</td><td>"+resp.leavecount+"</td><td>"+resp.absenteeism+"</td><td>"+resp.attendance+"</td><td>"+resp.fullAttendance+"</td><td><a href='toModifyPerformance?pid="+resp.pid+"&eid="+eid+"&name="+[[${param.name}]]+"'>修改</a>--<a href='javascript:void(0)' onclick='deleteP(\""+resp.pid+"\")'>删除</a></td></tr>")
                    }
                }
            })
        }

        /**
         * 删除员工具体表现
         */
        function deleteP(pid){
            $.ajax({
                url:"deletePerformanceByPid",
                type:"delete",
                data:{
                    pid:pid
                },
                dataType:"json",
                success:function (resp){
                    if (resp.code==1){
                        window.location.href="showperformance?eid="+[[${param.eid}]]+"&name="+[[${param.name}]]
                    }
                }
            })
        }

        /**
         * 修改员工具体表现情况的a标签单击事件
         */
        function updateP(o){
            alert(o.length)
        }
    </script>
</head>
<body>
    <div align="center">
        <h1 th:text="${param.name}+'的具体表现情况'"></h1>
        <a href="toPerformance">返回具体表现员工列表页</a><br>
        <h3>只显示一条离当前时间最近的记录</h3>
        <table id="performanceTb" border="5px">
            <thead><td>录入表现时间</td><td>绩效分数</td><td>计件数</td><td>加班天数</td><td>请假天数</td><td>旷工天数</td><td>实际出勤天数</td><td>全勤天数</td><td>操作</td></thead>
        </table>
        <br>
        <h1>录入员工具体表现情况</h1>
        全勤天数：<input type="text" id="fullAttendance"><br>
        请假天数：<input type="text" id="leavecount"><br>
        旷工天数：<input type="text" id="absenteeism"><br>
        加班天数: <input type="text" id="overtimeday"><br>
        实际出勤天数：<input type="text" id="attendance" disabled><br>
        绩效分数：<input type="text" id="performanceScore"><br>
        计件数：<input type="text" id="piecework"><br>
        <input type="button" value="提交" id="subBtn">
    </div>
</body>
</html>